.servicos {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
  text-align: center;
  padding: 5%;
}

.servicos a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.servicos ul {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 40px;
  padding: 32px;
  margin: 10px;
}

.servicos li {
  font-size: 25px;
}

@media screen and (max-width: 745px) {
  .servicos {
    padding: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;


  }

  .servicos ul {
    padding: 25px;
    margin: 10px;
  }

  .servicos li {
    font-size: 25px;
  }
}
