.servicos {
  display: flex;
  justify-content: center;
  color: rgb(255, 255, 255);
  flex-wrap: wrap;
  text-align: center;
  padding: 10%;
  height: 100%;
}

.servicos ul {
  list-style: none;
  background-color: rgba(0, 0, 0, 0.637);
  border-radius: 40px;
  padding: 10px;
  margin: 40px;
}

.servicos li {
  font-size: 25px;
}

@media screen and (max-width: 600px) {
  .servicos {
    padding: 30px 5% 30px 5%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .servicos li {
    font-size: 25px;
  }
}
