body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  background-image: url('/src/img/apresentation10.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}